<div class="modal-header">
	<h2 class="text-center" style="color: lightblue;"> Change password </h2>
</div>
<div class="modal-body">
	<table class="table table-hover">
		<tbody class="text-center">
			<tr>
				<td> <b>Old password:</b> </td>
				<td> <input type="text" ng-model="acr.oldPassword"/> </td> 
			</tr>
			<tr>
				<td> <b>New password:</b> </td>
				<td> <input type="text" ng-model="acr.newPassword"/> </td> 
			</tr>
			<tr>
				<td> <b>Retype password:</b> </td>
				<td> <input type="text" ng-model="acr.rePass"/> </td> 
			</tr>
		</tbody>
	</table>
<div class="modal-footer">
	<div class="text-center">
		<button class="btn btn-success" ng-click="acr.savePass()"> <i class="fa fa-check"></i></button>
		<button class="btn btn-danger" ng-click="acr.closeModal()"> <i class="fa fa-ban"></i></button>
	</div>
</div>